<% if current_user %>
    Welcome <%= current_user.name %>!<br>
    You are part of the following groups!
    <% @groups.each do |g| %>
      <li><%= g %></li>
     <% end %>
    <%= link_to "Sign Out", signout_path %>
<% else %>
    <%= link_to "Sign in with Meetup", "/auth/meetup" %>
<% end %>